<h1>MCIT Waiver Application</h1>

<p>
<%= link_to "For Administrators", waivers_path %>
</p>

<p>
<%= link_to "For CIT 591 Instructor", '/cit_591_waivers', :method => :get %>
</p>

<p>
<%= link_to "For CIT 592 Instructor", '/cit_592_waivers', :method => :get %>
</p>

<p>
<%= link_to "For CIT 593 Instructor", '/cit_593_waivers', :method => :get %>
</p>

<p>
<%= link_to "For CIT 594 Instructor", '/cit_594_waivers', :method => :get %>
</p>

<p>
<%= link_to "For CIT 595 Instructor", '/cit_595_waivers', :method => :get %>
</p>

<p>
<%= link_to "For CIT 596 Instructor", '/cit_596_waivers', :method => :get %>
</p>

<p>
<%= link_to "For Students", new_waiver_path %>
</p>
