<%= form_for @waiver, :html => {:multipart => true} do |f| %>
  <% if @waiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waiver.errors.count, "error") %> prohibited this waiver from being saved:</h2>

      <ul>
      <% @waiver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%= collection_select(:waiver, :course_id, Course.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :replacement_class %><br />
    <%= f.text_field :replacement_class %>
  </div>
  <div class="field">
    <%= f.label :taken_replacement_class %><br />
    <%= f.text_field :taken_replacement_class %>
  </div>
  <div class="field">
    <%= f.label :documentation_upload %><br />
    <%= f.file_field :documentation %>
  </div>

  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
