<h1>Listing waivers</h1>

<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email address</th>
    <th>Waiver class</th>
    <th>Replacement class</th>
    <th>Taken replacement class</th>
    <th>Comments</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @waivers.each do |waiver| %>
  <tr>
    <td><%= waiver.first_name %></td>
    <td><%= waiver.last_name %></td>
    <td><%= waiver.email %></td>
    <td><%= waiver.waiver_class %></td>
    <td><%= waiver.replacement_class %></td>
    <td><%= waiver.taken_replacement_class %></td>
    <td><%= waiver.comments %></td>
    <td><%= waiver.status %></td>
    <td><%= link_to 'Show', waiver %></td>
    <td><%= link_to 'Edit', edit_waiver_path(waiver) %></td>
    <td><%= link_to 'Destroy', waiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Waiver', new_waiver_path %>
