<p>
  <strong>Name</strong>
  <%= @waiver.name %>
</p>

<p>
  <strong>Email</strong>
  <%= @waiver.email %>
</p>

<p>
  <strong>Waiver Class</strong>
  <%= @waiver.waiver_class %>
</p>

<p>
  <strong>Replacement Class</strong>
  <%= @waiver.replacement_class %>
</p>

<p>
  <strong>Taken already?</strong>
  <%= @waiver.taken_replacement_class %>
</p>

<p>
  <strong>Comments</strong>
  <%= @waiver.comments %>
</p>