

<div class="container">


<h1 class="jumbotron">Administrator Dashboard</h1>

</div>

<div class="container text-center">
	<div class="row">

		<div class="col-md-3">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Edit Instructors", users_path, :class => "btn btn-lg btn-default btn-block"  %> 
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Edit Courses", courses_path, :class => "btn btn-lg btn-default btn-block"  %>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Waivers", waivers_path, :class => "btn btn-lg btn-default btn-block"  %> 
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Data", data_path, :class => "btn btn-lg btn-default btn-block"  %>
				</li>
			</ul>
		</div>

	</div>


	<br>
	<%= link_to('Logout', destroy_admin_session_path, method: :delete, :class => "btn btn-lg btn-default " ) %>

</div>
