
<div class="input-group" id="form">

<%= form_for @waiver, :html => {:multipart => true} do |f| %>
  <% if @waiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waiver.errors.count, "error") %> prohibited this waiver from being saved:</h2>

      <ul>
      <% @waiver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :first_name, placeholder: "First name"%>
  </div>
  <div class="field">
    <%= f.text_field :last_name, placeholder: "Last name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "Email address" %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%= collection_select(:waiver, :course_id, Course.all, :id, :name) %><br />
  </div> 
  <div class="field">
    <%= f.text_field :replacement_class, placeholder: "Replacement class"%>
  </div>
  <div class="field">
    <%= f.label :taken_replacement_class %><br />
    <%= f.select :taken_replacement_class, ['Yes','No'] %><br />
    
  </div>
  <div class="field">
    <%= f.text_field :course_taken_website, placeholder: "Course taken website" %>
  </div>
  <div class="field">
    <p>Syllabus</p>
    <%= f.file_field :documentation %>
  </div>
  <div class="field">
    <p>Transcript</p>
    <%= f.file_field :transcript %>
  </div>

  <div class="field">
    <p>Additional Documentation</p>
    <%= f.file_field :additional_documentation %>
  </div>

  <div class="field">
    <%= f.text_area :comments, placeholder: "Additional comments" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

</div>
<% end %>
