
<h1>Waiver Data</h1>
<div class="table-responsive">
<table class="table table-striped">
  <tr>
    <th>Total number of waivers</th>
    <th>Total number of approved waivers</th>
    <th>Total number of denied waivers</th>
    <th>Waivers by Semester</th>
    <th>Waivers by Course</th>
  </tr>

  <tr>
    <td><%= @waivers.length %></td>
    <td><%= @waivers.select{|waiver| waiver.status == "Approved"}.length %></td>
    <td><%= @waivers.select{|waiver| waiver.status == "Denied"}.length %></td>
    <td>  
      <% year = 0 %>      
      <% @waivers.each do |waiver_to_get_year| %>
        <% @fall_waivers = 0 %>
        <% @spring_waivers = 0 %>
        <% @waivers.each do |waiver| 
          if waiver.created_at.month > 7 
            @fall_waivers = @fall_waivers + 1
          else 
            @spring_waivers = @spring_waivers + 1
          end %>
        <% end %>
        <% if year != waiver_to_get_year.created_at.year %>
          Fall <%= waiver_to_get_year.created_at.year %> waivers = <%= @fall_waivers %></br>
          Spring <%= waiver_to_get_year.created_at.year %> waivers = <%= @spring_waivers %></br>
          <% year = waiver_to_get_year.created_at.year %>
        <% end %>
     <% end %>
    </td>

    <td>
      <% @courses.each do |course| %>
        <%= course.name %> = <%=  course.waivers.length %></br>
      <% end %>
    </td>
  </tr>
</table>

</div>


<%= link_to('Admin Logout', destroy_admin_session_path, method: :delete, :class => "btn btn-lg btn-default") %> 
<%= link_to "Administrator Dashboard", admin_path, :class => "btn btn-lg btn-default" %>

