<h1>Listing waivers</h1>

<table class="table">
  <tr>
    <th><%= sortable "created_at", "Timestamp" %></th>
    <th><%= sortable "first_name" %></th>
    <th><%= sortable "last_name" %></th>
    <th><%= sortable "email" %></th>
    <th><%= sortable "waiver_class" %></th>
    <th><%= sortable "replacement_class" %></th>
    <th><%= sortable "taken_replacement_class" %></th>
    <th><%= sortable "comments" %></th>
    <th><%= sortable "status" %></th>
    <th><%= sortable "documentation", "Syllabus" %></th>
    <th><%= sortable "transcript", "Transcript" %></th>
    <th><%= sortable "additional_documentation", "Additional Documentation" %>
    </th>
  </tr>

<% @waivers.each do |waiver| %>
  <tr>
    <td><%= waiver.created_at %></td>
    <td><%= waiver.first_name %></td>
    <td><%= waiver.last_name %></td>
    <td><%= waiver.email %></td>
    <td><%= waiver.course.name %></td>
    <td><%= waiver.replacement_class %></td>
    <td><%= waiver.taken_replacement_class %></td>
    <td><%= waiver.comments %></td>
    <td><%= waiver.status %></td>
    <td><%= link_to 'Syllabus', waiver.documentation.url %></td>
    <td><%= link_to 'Transcript', waiver.transcript.url %></td>
    <td><%= link_to 'Additional Documentation', 
        waiver.additional_documentation.url %></td>
    <td class = "background"><%= link_to 'Show', waiver %><br /><%= link_to 'Edit', edit_waiver_path(waiver) %><br /><%= link_to 'Delete', waiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Deny', deny_waiver_path(waiver), method: :post %><br /><%= link_to 'Approve', approve_waiver_path(waiver), method: :post %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Waiver', new_waiver_path %>

<br />
<% if user_signed_in? %>
<%= link_to('Instructor Logout', destroy_user_session_path, method: :delete) %>
<% end %>
<br />
<% if admin_signed_in? %>
<%= link_to('Admin Logout', destroy_admin_session_path, method: :delete) %></br>
<%= link_to "Administrator Dashboard", admin_path %>
<% end %>