<p id="notice"><%= notice %></p>
<p>
  <b>Timestamp:</b>
  <%= @waiver.created_at %>
</p>

<p>
  <b>First name:</b>
  <%= @waiver.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @waiver.last_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @waiver.email %>
</p>
<p>
  <b>Course:</b>
  <%= @waiver.course.name %>
</p>
<p>
  <b>Replacement class:</b>
  <%= @waiver.replacement_class %>
</p>

<p>
  <b>Replacement class website:</b>
  <%= @waiver.course_taken_website %>
</p>

<p>
  <b>Taken replacement class:</b>
  <%= @waiver.taken_replacement_class %>
</p>

<p>
  <b>Comments:</b>
  <%= @waiver.comments %>
</p>

<p>
  <b>Status:</b>
  <%= @waiver.status %>
</p>
<p>
  <b>Syllabus:</b>
  <%= @waiver.documentation.identifier %>
</p>
<p>
  <b>Transcript:</b>
  <%= @waiver.transcript.identifier %>
</p>
<p>
  <b>Additional documentation:</b>
  <%= @waiver.additional_documentation.identifier %>
</p>

<p>
  <b>Comments:</b>
  <%= @waiver.comments %>
</p>

<% if admin_signed_in?%>
  <%= link_to 'Edit', edit_waiver_path(@waiver) %> |
  <%= link_to 'Back', waivers_path %>
<% elsif user_signed_in? %>
  <%= link_to 'Edit', edit_waiver_path(@waiver) %> |
  <%= link_to 'Back', course_path(@waiver.course_id) %>
<% end %>