<div class="row">

  <div class="col-md-offset-3 col-md-6">

    <div id="waivers-show">

      <p id="notice"><%= notice %></p>
            <h2><%= @waiver.first_name %> <%= @waiver.last_name %></h2>
      <h4><%= @waiver.email %></h4>

      <% if @waiver.status == "Denied" %>
      <dl class="dl-horizontal bg-danger">
        <dt>Status:</dt>
          <dd><%= @waiver.status %></dd>
      </dl>
      <% end %>

      <% if @waiver.status == "Approved" %>
      <dl class="dl-horizontal bg-success">
        <dt>Status:</dt>
          <dd><%= @waiver.status %></dd>
      </dl>
      <% end %>

      <% if @waiver.status == "Pending" %>
      <dl class="dl-horizontal bg-warning">
        <dt>Status:</dt>
          <dd><%= @waiver.status %></dd>
      </dl>
      <% end %>
      
      <dl class="dl-horizontal">
        <dt>Submitted:</dt>
        <dd><%= @waiver.created_at %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Waive Course:</dt>
        <dd><%= @waiver.course.name %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Replacement Course:</dt>
        <dd><%= @waiver.replacement_class %></dd>
        <dd><%= @waiver.course_taken_website %></dd>
        <dt>Already Taken?</dt>
        <dd><%= @waiver.taken_replacement_class %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Comments:</dt>
        <dd><%= @waiver.comments %></dd>
        <dt>Attachments:</dt>
        <dd><%= @waiver.documentation.identifier %></dd>
        <dd><%= @waiver.transcript.identifier %></dd>
        <dd><%= @waiver.additional_documentation.identifier %></dd>
      </dl>
      
      <% if admin_signed_in?%>
        <%= link_to 'Edit', edit_waiver_path(@waiver), class: "btn btn-lg btn-default center-block"  %>
        <br />
        <%= link_to 'Back', waivers_path, class: "btn btn-lg btn-default center-block"  %>

      <% elsif user_signed_in? %>
        <%= link_to 'Back', course_path(@waiver.course_id), class: "btn btn-lg btn-default center-block"  %>
      <% end %>

    </div>

  </div>

</div>