<h1>Instructors</h1>

<div class="table-responsive">
    <table class="table table-striped">
  <thead>
  <tr>
    <th>Instructor</th>
    <th>Options</th>
    <th></th>
  </tr>
</thead>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
  <td><%= link_to "Delete", admin_destroy_user_path(user), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>
</div>

<% if user_signed_in? %>
<%= link_to('Instructor Logout', destroy_user_session_path, method: :delete) %>
<% end %>
<br />


<% if admin_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= link_to 'Add Instructor', new_user_registration_path, class: "btn btn-lg btn-default btn-block"  %>
    </div>
    <div class="col-md-4">
      <%= link_to('Logout', destroy_admin_session_path, method: :delete, class: "btn btn-lg btn-default btn-block") %>
    </div>
    <div class="col-md-4">
      <%= link_to "Dashboard", admin_path, class: "btn btn-lg btn-default btn-block" %>
    </div>
  </div>
</div>

<% end %>
