<%= form_for(@mcit_class) do |f| %>
  <% if @mcit_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mcit_class.errors.count, "error") %> prohibited this mcit_class from being saved:</h2>

      <ul>
      <% @mcit_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :waiver_class %><br />
    <%= f.text_field :waiver_class %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
