<h1>Listing mcit_classes</h1>

<table>
  <tr>
    <th>Waiver class</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mcit_classes.each do |mcit_class| %>
  <tr>
    <td><%= mcit_class.waiver_class %></td>
    <td><%= link_to 'Show', mcit_class %></td>
    <td><%= link_to 'Edit', edit_mcit_class_path(mcit_class) %></td>
    <td><%= link_to 'Destroy', mcit_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mcit class', new_mcit_class_path %>
