<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
  <b>User_id:</b>
  <%= @course.user_id %>

  <% if (User.find_by_id params[@course.user_id]) != nil %>
    <b>Instructor:</b>
    <%= @course.user.email %>
  <% end %>

</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email address</th>
    <th>Waiver class</th>
    <th>Replacement class</th>
    <th>Taken replacement class</th>
    <th>Comments</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course.waivers.each do |waiver| %>
  <tr>
    <td><%= waiver.first_name %></td>
    <td><%= waiver.last_name %></td>
    <td><%= waiver.email %></td>
    <td><%= waiver.course.name %></td>
    <td><%= waiver.replacement_class %></td>
    <td><%= waiver.taken_replacement_class %></td>
    <td><%= waiver.comments %></td>
    <td><%= waiver.status %></td>
    <td><%= link_to 'Show', waiver %></td>
    <td><%= link_to 'Edit', edit_waiver_path(waiver) %></td>
    <td><%= link_to 'Destroy', waiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Deny', deny_waiver_path(waiver), method: :post %></td>
    <td><%= link_to 'Approve', approve_waiver_path(waiver), method: :post %></td>
  </tr>
<% end %>
</table>